In [1]:
number = int(input('Enter number : '))

Enter number : 123

In [2]:
number

123

In [3]:
123 < 39

False

In [4]:
'123' < '39'

True

In [5]:
ord('1'), ord('3')

(49, 51)

In [6]:
int('123') < int('39')

False

In [8]:
int(input('Enter number : '))

Enter number : 12341234

12341234

## 반복문

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(10):
    print(i)
    if i > 3:
        break

0
1
2
3
4

In [18]:
for i in range(2, 10):
    print('#### {}단 ####'.format(i))
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
        # break
    print()

#### 2단 ####
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#### 3단 ####
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

#### 4단 ####
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

#### 5단 ####
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

#### 6단 ####
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

#### 7단 ####
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#### 8단 ####
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

#### 9단 ####
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [19]:
range?

## 함수

In [28]:
def gugudan(number):
    print('---- {}단 ----'.format(number))
    for i in range(1, 10):
        print('- {} * {} = {}'.format(number, i, number*i))

gugudan(2)
gugudan(3)
gugudan(4)
gugudan(5)

---- 2단 ----
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
---- 3단 ----
- 3 * 1 = 3
- 3 * 2 = 6
- 3 * 3 = 9
- 3 * 4 = 12
- 3 * 5 = 15
- 3 * 6 = 18
- 3 * 7 = 21
- 3 * 8 = 24
- 3 * 9 = 27
---- 4단 ----
- 4 * 1 = 4
- 4 * 2 = 8
- 4 * 3 = 12
- 4 * 4 = 16
- 4 * 5 = 20
- 4 * 6 = 24
- 4 * 7 = 28
- 4 * 8 = 32
- 4 * 9 = 36
---- 5단 ----
- 5 * 1 = 5
- 5 * 2 = 10
- 5 * 3 = 15
- 5 * 4 = 20
- 5 * 5 = 25
- 5 * 6 = 30
- 5 * 7 = 35
- 5 * 8 = 40
- 5 * 9 = 45

In [29]:
ret = gugudan(2)
print(ret)

---- 2단 ----
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
None

## 인자

In [30]:
'안녕. 나는 {}이야. {}살이지.'.format('Tom', 10)

'안녕. 나는 Tom이야. 10살이지.'

In [31]:
def say_hello(name, age):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [32]:
say_hello('Tom', 10)

'안녕. 나는 Tom임. 10살이지.'

In [33]:
say_hello()

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'age'

### 디폴트 인자 & 키워드 인자

In [34]:
def say_hello(name, age=10):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [35]:
say_hello('Steve')

'안녕. 나는 Steve임. 10살이지.'

In [36]:
say_hello('John', 15)

'안녕. 나는 John임. 15살이지.'

In [37]:
say_hello('Tom', age=12)

'안녕. 나는 Tom임. 12살이지.'

In [54]:
def say_hello2(name, age):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [56]:
say_hello2(age=10, name='Tom')

'안녕. 나는 Tom임. 10살이지.'

## 1급 객체

In [60]:
def mysum(x, y):
    return x + y

In [61]:
mysum(1, 2)

3

In [62]:
mysum(y=10, x=1)

11

In [39]:
mysum(1, 2)

3

In [40]:
another_fn = mysum

In [41]:
another_fn(1, 2)

3

In [42]:
lambda x, y: x + y

In [43]:
(lambda x, y: x + y)(1, 2)

3

In [44]:
mysum2 = lambda x, y: x + y
mysum2(1, 2)

3

In [45]:
def myfn(fn, x, y):
    return fn(x, y)

In [46]:
myfn(mysum2, 1, 2)

3

In [47]:
myfn(lambda x, y: x + y, 1, 2)

3

In [48]:
myfn(lambda x, y: x * y, 1, 2)

2

## 고차함수

In [49]:
def base_calculator1():
    # i = 0
    wrap = lambda x, y: x + y
    return wrap

fn = base_calculator1()
fn(1, 2)

3

In [51]:
def base_calculator1(base):
    # i = 0
    wrap = lambda x, y: x + y + base
    return wrap

fn = base_calculator1(10)

fn(1, 2)

13

In [53]:
def base_calculator1(base):
    def wrap(x, y):
        return x + y + base
    return wrap

fn_10 = base_calculator1(10)
fn_20 = base_calculator1(20)
fn_30 = base_calculator1(30)

print(fn_10(1, 2))
print(fn_20(1, 2))
print(fn_30(1, 2))

13
23
33

In [57]:
def say_hello3(name: str, age: int) -> str:
    return "안녕. {}. {}".format(name, age)

In [59]:
say_hello3('Tom', 'Seoul')

'안녕. Tom. Seoul'

## 클래스

In [65]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [67]:
tom = Person('Tom', 10)
tom.name, tom.age

('Tom', 10)

In [68]:
john = Person('John', 12)
john.name, john.age

('John', 12)

In [ ]:
# 파이썬의 인스턴스 변수 선언을 오해하는 상황

class Person:
    name = None  # 클래스 변수
    age = None   # 클래스 변순

    def __init__(self, name, age):
        self.name = name
        self.age = age

In [73]:
class Person:
    food_list = []

    def eat(self, food):
        self.food_list.append(food)

tom = Person()
tom.eat('김치')
tom.eat('나시고랭')
print(tom.food_list)

steve = Person()
steve.eat('맥주')
print(steve.food_list)

['김치', '나시고랭']
['김치', '나시고랭', '맥주']

In [74]:
class Person:
    def __init__(self):
        self.food_list = []

    def eat(self, food):
        self.food_list.append(food)

tom = Person()
tom.eat('김치')
tom.eat('나시고랭')
print(tom.food_list)

steve = Person()
steve.eat('맥주')
print(steve.food_list)

['김치', '나시고랭']
['맥주']

## 커스텀 클래스 Person

In [76]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
tom = Person('Tom', 10, 'Seoul')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    tom.name, tom.region))
steve = Person('Steve', 10, 'Pusan')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    steve.name, steve.region))
gongyou = Person('공유', 37, '도깨비나라')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    gongyou.name, gongyou.region))

안녕하세요. Tom님. Seoul에서 오셨군요.
안녕하세요. Steve님. Pusan에서 오셨군요.
안녕하세요. 공유님. 도깨비나라에서 오셨군요.

In [77]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
    def say_hello(self):
        print('안녕하세요. {}님. {}에서 오셨군요.'.format(
            self.name, self.region))
    
tom = Person('Tom', 10, 'Seoul')
tom.say_hello()

steve = Person('Steve', 10, 'Pusan')
steve.say_hello()

gongyou = Person('공유', 37, '도깨비나라')
gongyou.say_hello()

안녕하세요. Tom님. Seoul에서 오셨군요.
안녕하세요. Steve님. Pusan에서 오셨군요.
안녕하세요. 공유님. 도깨비나라에서 오셨군요.

In [80]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
    def say_hello(self):
        print('안녕하세요. {}님. {}에서 오셨군요.'.format(
            self.name, self.region))
        
    def move_to(self, region):
        print('{}에서 {}(으)로 이사합니다.'.format(self.region, region))
        self.region = region
    
gongyou = Person('공유', 37, '도깨비나라')
gongyou.say_hello()
gongyou.move_to('캐나다')
gongyou.say_hello()

안녕하세요. 공유님. 도깨비나라에서 오셨군요.
도깨비나라에서 캐나다(으)로 이사합니다.
안녕하세요. 공유님. 캐나다에서 오셨군요.

## 호출가능한 객체

In [89]:
class Calculator:
    def __init__(self, base):
        self.base = base
    
    def sum(self, x, y):
        return self.base + x + y

    def __call__(self, x, y):
        return self.base + x + y

In [91]:
calc_10 = Calculator(10)
print(calc_10.sum(1, 2))
print(calc_10.sum(2, 3))
print(calc_10.__call__(1, 2))
print(calc_10(1, 2))

13
15
13
13

In [95]:
def longlonglong_fn1(x, y):
    x += 1
    y += 10
    x = x + y + 10
    print('작업 중')
    return x + y

def longlonglong_fn2(x, y):
    x += 1
    y += 10
    x = x + y + 10
    print('처리 중')
    return x + y

In [96]:
longlonglong_fn1(1, 2)

작업 중

36

In [100]:
class LongLongLong:
    def myprint(self):
        print('작업 중')

    def __call__(self, x, y):
        x += 1
        y += 10
        x = x + y + 10
        self.myprint()
        return x + y
    
class LongLongLong2(LongLongLong):
    def myprint(self):
        print('처리 중')

longlonglong_fn1 = LongLongLong()
print(longlonglong_fn1(1, 2))

longlonglong_fn2 = LongLongLong2()
print(longlonglong_fn2(1, 2))

작업 중
36
처리 중
36

In [106]:
class Calculator:
    def __init__(self, base):
        self.base = base
    
    def __call__(self, x, y):
        self.base += (x +y)
        return self.base

In [108]:
calc_10 = Calculator(10)
print(calc_10(1, 2))
print(calc_10(1, 2))
print(calc_10(1, 2))

13
16
19

In [109]:
def myfn(fn, x, y):
    return fn(x, y)

In [110]:
myfn(calc_10, 1, 2)

22

In [111]:
myfn(calc_10, 1, 2)

25

In [112]:
myfn(calc_10, 1, 2)

28

## 순회가능한 객체

In [113]:
strings = 'abcdefg'

In [114]:
tuple(strings)

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [116]:
# 집합
for i in {10, 9, 8, 7, 1, 2, 3, 1, 2, 4, 5}:
    print(i)

1
2
3
4
5
7
8
9
10

In [118]:
# 집합 - 정렬이 필요하다면
# for i in sorted({10, 9, 2, 4, 5}):
for i in sorted({10, 9, 2, 4, 5}, reverse=True):
    print(i)

10
9
5
4
2

In [122]:
#for val in {'a': 1, 'b': 2, 'c': 3, 'd': 4}:  # 키순회
#for val in {'a': 1, 'b': 2, 'c': 3, 'd': 4}.values():  # 값 순회
for (key, val) in {'a': 1, 'b': 2, 'c': 3, 'd': 4}.items(): # 키/값 순회
    print(key, val)

d 4
b 2
c 3
a 1

In [123]:
i = 10
j = 20
temp = i
i = j
j = temp
i, j

(20, 10)

In [124]:
i = 10
j = 20
i, j = j, i

In [125]:
i, j

(20, 10)

## 오버라이딩

In [127]:
class Person:
    def run(self):
        print('뜁니다.')

In [128]:
class SoccerPlayer(Person):
    def run(self):
        print('발로 공을 드리블하며 뜁니다.')

In [129]:
SoccerPlayer().run()

발로 공을 드리블하며 뜁니다.

In [134]:
class BasketballPlayer(Person):
    def run(self):
        print('손으로 공을 드리블합니다.')
        # super().run()
        super(BasketballPlayer, self).run()

In [133]:
BasketballPlayer().run()

손으로 공을 드리블합니다.
뜁니다.

## 예외

In [138]:
print('line 1')
try:
    int('a') + 10
except ValueError:
    print('10진수 문자열만 변환가능합니다.')
print('line 2')

line 1
10진수 문자열만 변환가능합니다.
line 2

In [ ]:
# 예외 지정은 타이트하게 !!

print('line 1')
try:
    int('a') + 10
except:
    print('10진수 문자열만 변환가능합니다.')
print('line 2')

## 장식자

In [139]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

def mysum(x, y):
    return x + y

result_fn = base_10(mysum)
result_fn(1, 2)

13

In [140]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

def mysum(x, y):
    return x + y

mysum = base_10(mysum)
mysum(1, 2)

13

In [142]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

@base_10
def mysum(x, y):
    return x + y

# mysum = base_10(mysum)

mysum(1, 2)

13

In [146]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

def base_20(fn):
    def wrap(x, y):
        return fn(x, y) + 20
    return wrap

def base_30(fn):
    def wrap(x, y):
        return fn(x, y) + 30
    return wrap

@base_10
@base_20
@base_30
def mysum(x, y):
    return x + y

# mysum = base_10(mysum)

mysum(1, 2)

63

In [149]:
def base(base_i):
    def wrap(fn):
        def inner(x, y):
            return fn(x, y) + base_i
        return inner
    return wrap

base_10 = base(10)
base_20 = base(20)
base_30 = base(30)

@base_10
@base_20
@base_30
def mysum(x, y):
    return x + y

# mysum = base_10(base_20(base_30(mysum)))

mysum(1, 2)

63

In [150]:
def base(base_i):
    def wrap(fn):
        def inner(x, y):
            return fn(x, y) + base_i
        return inner
    return wrap

@base(10)
@base(20)
@base(30)
def mysum(x, y):
    return x + y

mysum(1, 2)

63

In [ ]:
@login_required
def premium_page(request):
    pass

## memoize

In [161]:
import time

cached = {}
cached2 = {}

def mysum(x, y):
    key = (x, y)
    if key not in cached:
        time.sleep(1)
        cached[key] = x + y
    return cached[key]

def mymultiply(x, y):
    key = (x, y)
    if key not in cached2:
        time.sleep(1)
        cached2[key] = x + y
    return cached2[key]

In [162]:
print(mymultiply(1, 2))
print(mymultiply(1, 2))
print(mymultiply(1, 2))

# print(mysum(1, 2))
# print(mysum(1, 2))
# print(mysum(1, 2))
# print(mysum(2, 3))
# print(mysum(2, 3))
# print(mysum(2, 3))
# print(mysum(2, 4))

3
3
3

In [163]:
# 드디어 장식자 memoize

In [166]:
import time

def memoize(fn):
    cached = {}
    def wrap(x, y):
        key = (x, y)
        if key not in cached:
            cached[key] = fn(x, y)
        return cached[key]
    return wrap

@memoize
def mysum(x, y):
    time.sleep(1)
    return x + y

@memoize
def mymultiply(x, y):
    time.sleep(1)
    return x * y

In [171]:
print(mymultiply(1, 2))
print(mymultiply(1, 2))
print(mymultiply(1, 2))

print(mysum(1, 2))
print(mysum(1, 2))
print(mysum(1, 2))
print(mysum(2, 3))
print(mysum(2, 3))
print(mysum(2, 3))
print(mysum(2, 4))

2
2
2
13
13
13
15
15
15
16

## 퀴즈

In [177]:
def filter_even(fn):
    def wrap(a, b, c, d, e):
        # 구현 !!!
        pass
    return wrap

@filter_even
def mysum(a, b, c, d, e):
    return a + b + c + d + e

mysum(1, 2, 3, 4, 5) # 6

In [181]:
def filter_even(fn):
    def wrap(*args):  # packing
        # args = (1, 2, 3, 4, 5)
        new_args = []
        for i in args:
            if i % 2 != 0:
                i = 0
            new_args.append(i)

        return fn(*new_args)  # unpacking

#         if a % 2 != 0: a = 0
#         if b % 2 != 0: b = 0
#         if c % 2 != 0: c = 0
#         if d % 2 != 0: d = 0
#         if e % 2 != 0: e = 0
#         return fn(a, b, c, d, e)
    return wrap

@filter_even
def mysum(a, b, c, d, e):
    return a + b + c + d + e

mysum(1, 2, 3, 4, 5) # 6

6

In [184]:
def filter_even(fn):
    def wrap(*args):  # packing
        # list comprehension
#        new_args = [
#            i if i % 2 == 0 else 0
#            for i in args]
        
        # generator expression
        new_args = (
            i if i % 2 == 0 else 0
            for i in args)

        return fn(*new_args)  # unpacking

#         if a % 2 != 0: a = 0
#         if b % 2 != 0: b = 0
#         if c % 2 != 0: c = 0
#         if d % 2 != 0: d = 0
#         if e % 2 != 0: e = 0
#         return fn(a, b, c, d, e)
    return wrap

@filter_even
def mysum(a, b, c, d, e):
    return a + b + c + d + e

mysum(1, 2, 3, 4, 5) # 6

6

## 질문

In [169]:
class Person:
    def hello(self):
        print('hello')
    
    def hi(self):
        print('hi')

    def __call__(self, fn):
        def wrap(x, y):
            return fn(x, y) + 10
        return wrap
    
@Person()
def mysum(x, y):
    return x + y

mysum(1, 2)

13

In [175]:
strings = ['h', 'e', 'l', 'l']

In [176]:
for ch in strings:
    print(ch)

h
e
l
l