In [1]:
number = int(input('Enter number : '))

Enter number : 123

In [2]:
number

123

In [3]:
123 < 39

False

In [4]:
'123' < '39'

True

In [5]:
ord('1'), ord('3')

(49, 51)

In [6]:
int('123') < int('39')

False

In [8]:
int(input('Enter number : '))

Enter number : 12341234

12341234

## 반복문

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(10):
    print(i)
    if i > 3:
        break

0
1
2
3
4

In [18]:
for i in range(2, 10):
    print('#### {}단 ####'.format(i))
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
        # break
    print()

#### 2단 ####
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#### 3단 ####
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

#### 4단 ####
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

#### 5단 ####
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

#### 6단 ####
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

#### 7단 ####
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#### 8단 ####
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

#### 9단 ####
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [19]:
range?

## 함수

In [28]:
def gugudan(number):
    print('---- {}단 ----'.format(number))
    for i in range(1, 10):
        print('- {} * {} = {}'.format(number, i, number*i))

gugudan(2)
gugudan(3)
gugudan(4)
gugudan(5)

---- 2단 ----
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
---- 3단 ----
- 3 * 1 = 3
- 3 * 2 = 6
- 3 * 3 = 9
- 3 * 4 = 12
- 3 * 5 = 15
- 3 * 6 = 18
- 3 * 7 = 21
- 3 * 8 = 24
- 3 * 9 = 27
---- 4단 ----
- 4 * 1 = 4
- 4 * 2 = 8
- 4 * 3 = 12
- 4 * 4 = 16
- 4 * 5 = 20
- 4 * 6 = 24
- 4 * 7 = 28
- 4 * 8 = 32
- 4 * 9 = 36
---- 5단 ----
- 5 * 1 = 5
- 5 * 2 = 10
- 5 * 3 = 15
- 5 * 4 = 20
- 5 * 5 = 25
- 5 * 6 = 30
- 5 * 7 = 35
- 5 * 8 = 40
- 5 * 9 = 45

In [29]:
ret = gugudan(2)
print(ret)

---- 2단 ----
- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
None

## 인자

In [30]:
'안녕. 나는 {}이야. {}살이지.'.format('Tom', 10)

'안녕. 나는 Tom이야. 10살이지.'

In [31]:
def say_hello(name, age):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [32]:
say_hello('Tom', 10)

'안녕. 나는 Tom임. 10살이지.'

In [33]:
say_hello()

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'age'

### 디폴트 인자 & 키워드 인자

In [34]:
def say_hello(name, age=10):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [35]:
say_hello('Steve')

'안녕. 나는 Steve임. 10살이지.'

In [36]:
say_hello('John', 15)

'안녕. 나는 John임. 15살이지.'

In [37]:
say_hello('Tom', age=12)

'안녕. 나는 Tom임. 12살이지.'

In [54]:
def say_hello2(name, age):
    return '안녕. 나는 {}임. {}살이지.'.format(name, age)

In [56]:
say_hello2(age=10, name='Tom')

'안녕. 나는 Tom임. 10살이지.'

## 1급 객체

In [60]:
def mysum(x, y):
    return x + y

In [61]:
mysum(1, 2)

3

In [62]:
mysum(y=10, x=1)

11

In [39]:
mysum(1, 2)

3

In [40]:
another_fn = mysum

In [41]:
another_fn(1, 2)

3

In [42]:
lambda x, y: x + y

In [43]:
(lambda x, y: x + y)(1, 2)

3

In [44]:
mysum2 = lambda x, y: x + y
mysum2(1, 2)

3

In [45]:
def myfn(fn, x, y):
    return fn(x, y)

In [46]:
myfn(mysum2, 1, 2)

3

In [47]:
myfn(lambda x, y: x + y, 1, 2)

3

In [48]:
myfn(lambda x, y: x * y, 1, 2)

2

## 고차함수

In [49]:
def base_calculator1():
    # i = 0
    wrap = lambda x, y: x + y
    return wrap

fn = base_calculator1()
fn(1, 2)

3

In [51]:
def base_calculator1(base):
    # i = 0
    wrap = lambda x, y: x + y + base
    return wrap

fn = base_calculator1(10)

fn(1, 2)

13

In [53]:
def base_calculator1(base):
    def wrap(x, y):
        return x + y + base
    return wrap

fn_10 = base_calculator1(10)
fn_20 = base_calculator1(20)
fn_30 = base_calculator1(30)

print(fn_10(1, 2))
print(fn_20(1, 2))
print(fn_30(1, 2))

13
23
33

In [57]:
def say_hello3(name: str, age: int) -> str:
    return "안녕. {}. {}".format(name, age)

In [59]:
say_hello3('Tom', 'Seoul')

'안녕. Tom. Seoul'

## 클래스

In [65]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [67]:
tom = Person('Tom', 10)
tom.name, tom.age

('Tom', 10)

In [68]:
john = Person('John', 12)
john.name, john.age

('John', 12)

In [ ]:
# 파이썬의 인스턴스 변수 선언을 오해하는 상황

class Person:
    name = None  # 클래스 변수
    age = None   # 클래스 변순

    def __init__(self, name, age):
        self.name = name
        self.age = age

In [73]:
class Person:
    food_list = []

    def eat(self, food):
        self.food_list.append(food)

tom = Person()
tom.eat('김치')
tom.eat('나시고랭')
print(tom.food_list)

steve = Person()
steve.eat('맥주')
print(steve.food_list)

['김치', '나시고랭']
['김치', '나시고랭', '맥주']

In [74]:
class Person:
    def __init__(self):
        self.food_list = []

    def eat(self, food):
        self.food_list.append(food)

tom = Person()
tom.eat('김치')
tom.eat('나시고랭')
print(tom.food_list)

steve = Person()
steve.eat('맥주')
print(steve.food_list)

['김치', '나시고랭']
['맥주']

## 커스텀 클래스 Person

In [76]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
tom = Person('Tom', 10, 'Seoul')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    tom.name, tom.region))
steve = Person('Steve', 10, 'Pusan')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    steve.name, steve.region))
gongyou = Person('공유', 37, '도깨비나라')
print('안녕하세요. {}님. {}에서 오셨군요.'.format(
    gongyou.name, gongyou.region))

안녕하세요. Tom님. Seoul에서 오셨군요.
안녕하세요. Steve님. Pusan에서 오셨군요.
안녕하세요. 공유님. 도깨비나라에서 오셨군요.

In [77]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
    def say_hello(self):
        print('안녕하세요. {}님. {}에서 오셨군요.'.format(
            self.name, self.region))
    
tom = Person('Tom', 10, 'Seoul')
tom.say_hello()

steve = Person('Steve', 10, 'Pusan')
steve.say_hello()

gongyou = Person('공유', 37, '도깨비나라')
gongyou.say_hello()

안녕하세요. Tom님. Seoul에서 오셨군요.
안녕하세요. Steve님. Pusan에서 오셨군요.
안녕하세요. 공유님. 도깨비나라에서 오셨군요.